.panel-default > .panel-heading {
	height: 3em;
	background-color: #52acea;
}
.table > thead > tr > th {
	vertical-align: top;
}
.alert {
	text-align: center;
}

.copyright {
	margin-top: 20px;
	margin-bottom: 30px;
	padding-top: 10px;
	line-height: 1.3em;
	border-top: 1px solid rgba(158, 158, 158, 0.3);
	text-align: center;
	clear: both;
}
.copyright a {
	color: inherit;
}

.form-pic {
	width: 100%;
}
@media (min-width: 520px) {
	.form-pic {
		display: none;
	}
}

.form-title {
	margin-top: 15px;
	margin-bottom: 20px;
	text-align:center;
	font-size: 36px;
}
@media (max-width: 520px) {
	.form-title {
		display: none;
	}
}

.team-member1,
.team-member2,
.team-member3,
.team-member4 {
	display: none;
	margin-top: 15px;
	padding-top: 10px;
	border-top: 1px solid #e5e5e5;
}

.msg {
	font-size: 135%;
}
.msg-no {
	padding-right: 0.6em;
}
@media (max-width: 500px) {
	.msg-heading {
		height: 4.3em !important;
	}
}
@media (max-width: 500px) {
	.msg-time {
		clear: both;
	}
}

.captcha-area-register {
	margin-top: 20px;
	padding-top: 15px;
	border-top: 1px solid #e5e5e5;
}
@media (min-width: 992px) {
	.captcha-area-forum {
		padding-left: 2em;
		padding-right: 0;
	}
}

.subtitle {
	background: #008ae3;
	color: white;
	width: 100%;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 1.6em;
	margin-bottom: 20px;
	border-radius: 6px;
}
.subtitle-register {
	background: #264b7e !important;
}
.subblock {
	background: #337ab7;
	color: white;
	width: 5em;
	height: 40px;
	padding-left: 1em;
	line-height: 40px;
	font-size: 1.3em;
	margin-bottom: 20px;
	border-radius: 3px;
}

.teams-leader {
	background-color: #f5f5f5 ;
}

.placeholder {
	padding-bottom: 10px;
    text-align: center;
    color: #9e9e9e;
}

.upload-area {
	margin-bottom: 30px;
}
.upload-title {
	margin-top: 20px;
	margin-bottom: 10px;
	padding-bottom: 20px;
	padding-top: 10px;
	text-align: center;
	font-size: 36px;
}

.btn-left {
	float: left;
	margin-bottom: 15px;
}
.btn-right {
	float: right;
	margin-bottom: 15px;
}

.subblock-deprecated {
	width: 11em !important;
	border-radius: 0 !important;
}
