h1 {
	text-align:center;
	padding-bottom: 15px;
}
h3 {
	background: #264b7e;
	color: white;
	width: 100%;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 1.6em;
	margin-bottom: 20px;
	border-radius: 3px;
}
h4 {
	background: #337ab7;
	color: white;
	width: 5em;
	height: 40px;
	padding-left: 1em;
	line-height: 40px;
	font-size: 1.3em;
	margin-bottom: 20px;
	border-radius: 3px;
}
@media (min-width: 520px) {
	.formTitlePic {
		display: none;
	}
	.formBottomPic {
		display: none;
	}
}
@media (max-width: 520px) {
	.formTitle {
		display: none;
	}
}
#teamMember1, #teamMember2, #teamMember3, #teamMember4 {
	display: none;
	margin-top: 15px;
	padding-top: 10px;
	border-top: 1px solid #e5e5e5;
}
.captchaArea {
	margin-top: 20px;
	padding-top: 15px;
	border-top: 1px solid #e5e5e5;
}
.formPic {
	width: 100%;
}
.modal-body {
	padding-top: 0px;
	padding-bottom: 0px;
}
.modal-footer {
	padding-bottom: 0px;
	margin-top:1em;
	margin-bottom:1em;
}

