h3 {
	background: #008ae3;
	color: white;
	width: 100%;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 1.6em;
	margin-bottom: 20px;
	border-radius: 3px;
}
h4 {
	background: #337ab7;
	color: white;
	width: 11em;
	height: 40px;
	padding-left: 1em;
	line-height: 40px;
	font-size: 1.3em;
	margin-bottom: 20px;
	border-radius: 3px;
}
.teamLeader {
	background-color: #f5f5f5 ;
}
@media (max-width: 500px) {
	.panel-default>.panel-heading {
		height: 4.3em;
		background-color: #52acea;
	}
}